<!DOCTYPE html>
<html>
  <head>
    <title>SNU 인공지능수학 코딩수학 </title>

    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
   
    <script src="{{ url_for('static', filename='jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='analytics.js') }}" type="text/javascript"></script>

    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap-theme.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='default.css') }}" type="text/css" rel="stylesheet">
  </head>
  
  
  
  <body>
  
  
    <nav class="llab-nav navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="nav navbar-nav navbar-left navbar-title"> &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp; SNU코딩수학 &nbsp;  &nbsp; [ 인공지능수학 ] &nbsp;  &nbsp;  &nbsp;
	  <a class="btn btn-default" href="https://www.youtube.com/channel/UCFjRN4PtXLr3juK88gRxtLA" target="_blank">SNU코딩수학 유튜브</a> 
	  </div>
      <div class="nav navbar-nav navbar-right">
        <ul class="nav-btns btn-group">
          <!--a class="btn btn-default" id="return" href="#">logout</a-->
          <a class="btn btn-default" id="return" href="{{url_for('welcome')}}">되돌아가기</a>
        </ul>
      </div>
    </nav>
	
	
	
    <div class="title-small-screen"> SNU 인공지능수학 단원학습 | 2021 가을학기 </div>
	
	
	
    <div style="display:none;">
        <form action="{{ url_for('exercise_section') }}" method=post id="selection_form">
          <input type=hidden name=question_id value=10 id="question_id"/>
        </form>
    </div>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
    <div class="llab-full">
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
      <script type="text/javascript">
	  
	 	
		function request_exercise(question_id){
          var form = document.getElementById("selection_form");
          form.question_id.value = question_id;
          form.submit();
        }
		
		
    ///////////////////////////////////////////////
	//////////////////////////////////////////////
/*  챗복 	
	
	
		
	var click = false; 
	
    function getResponse() {
	
	
	    if( click ==true ) {
		
		
        let userText =  $("#chattextInput").val();  
		                // document.getElementById("chattextInput").value;
        let userHtml = '<p class="userText"><span>' + userText + '</span></p>';
        
		$("#chattextInput").val("");
        
		$("#chatbox").append(userHtml);
        document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
        
		$.get("/get", { msg: userText }).done(function(data) {
             var botHtml = '<p class="botText"><span>' + data + '</span></p>';
        
		     $("#chatbox").append(botHtml);
             document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
             });
			 
		}
		click=false; 
		
    }
	
	

	
	
	
	function chatenterbutton() {

 
 	         click=true;
             getResponse();  // 엔터키가 눌렸을 때 실행할 내용

    }


	function chatpushbutton() {
	   //alert("hello")
	   click=true;
	   getResponse();
	}
	
*/  //////////////////////////////////////////////////////////	

/*  //////////////////////////////////////////////////////////


	$(document).ready(function(){
       $("#chatenterbutton").keypress(function (e) {
            if (e.which == 13){
                   getResponse();  // 실행할 이벤트
            }
        });
    });


		
    $("#chattextInput").keypress(function(e) {
    //if enter key is pressed
        if(e.which == 13) {
            getResponse();
        }
    });
	
	
    $("#chatbuttonInput").click(function() {
	    alert("hello")
        //getResponse();
    });
	
*/ 	
	
	
//////////////////////////////////////////////////////////////////
		
		
		
        function check_answer() {
          // get the selected answer
          // console.log("radio button selected", document.querySelector('input[name="radiobutton"]:checked').value)
          // console.log("correct_ans_id list length",{{correct_ans_id | length}})
          var answer_list_length = {{correct_ans_id | length}};
          var multi_answers = parseInt({{multi_answers}});
          var correct = 0;
		  
		  var txt_selected = ""; 
		  //var id_selected = "";
		  
          if (answer_list_length == 1 && multi_answers == 0) {
		  
            if (document.querySelector('input[name="radiobutton"]:checked') == null) {
			
			alert("문제의 답을 선택하세요");
			return;
			}
			
			//alert( "ues" )
            var id_selected = document.querySelector('input[name="radiobutton"]:checked').value;
			
            var id_correct = "{{correct_ans_id[0]}}";
            
			if (id_selected == id_correct)   correct = 1;
			  //alert("yes")
            
			
			
			var txtarea = document.getElementById("txt_{{question_id}}");
		
		
		
			if( txtarea != null )  {  /// alert("txt_{{question_id}}")
			  
			      txt_selected = document.getElementById("txt_{{question_id}}").value;
				  ///////////////////////////////////////////////////////////////////////
			  
			     if( txt_selected == null || txt_selected.trim()=="" )  {
			         alert("서술형 문제에 답하세요");
			         return 
			     }
              			  
			}
			
			
            // console.log(id_selected, id_correct)
            
          } else {
            // have multiple correct answers
            var answer_list = [];
            // correct answer list
            {% for item_id in correct_ans_id %}
              answer_list.push("{{item_id}}");
            {% endfor %}
            // checked answer list
            var checked_list = [];
            {% for candidate in answers %}
              var elem = document.getElementById("{{candidate[0]}}");
              if (elem.checked)
                checked_list.push(elem.value); // "{{candidate[0]}}"
            {% endfor %}
            // console.log(checked_list)
            // then check if all correct answers are checked and only the correct answers are checked
            
			
			if (JSON.stringify(answer_list.sort())==JSON.stringify(checked_list.sort())) {
              correct = 1;
            }
			
			
          }
		  
		  
		  ////////////////////////
		  ////////////////////////
		  
		  
		  
          if (correct) {
            // correctly answered
            document.getElementById("correctness").innerHTML="<font color='green'>Correct! Congratulations!</font>";
            // show explain
            document.getElementById("show_hint").innerHTML="Explanation: {{hint}}";
          } else {
            // wrong
            document.getElementById("correctness").innerHTML="That's not correct, think about it and try again...";
            // show hint
            
			//alert( "{{ hint}}" )
			document.getElementById("show_hint").innerHTML="HINT: === <a  href='http://codingnara.com'> 누르세요 </a>  {{hint}}";
          }
		  
          // disable all the candidates
          {% for candidate in answers %}
            document.getElementById("{{candidate[0]}}").disabled=true;
          {% endfor %}
          // disable check answer
          document.getElementById("check_answer_button").disabled=true;
          // enable try again
          document.getElementById("try_again_button").disabled=false;
		  
		  //alert("yes")
          //if (answer_list_length == 1) return;
		  ///alert("yes2")
          //////
          var data = {
            data: JSON.stringify({
              "correctness": correct,
              "question_id": parseInt("{{question_id}}"),
			  "id_selected": id_selected,  // parseInt( id_selected ),
			  "txt_selected": txt_selected 
			  
            })
          };
		  
          $.ajax({
              url: "/log_exercise",
              type: "POST",
              data: data,
              dataType: 'json',
              success: function(data) {
                // console.log("success")
              },
              error: function(xhr, type) {
                console.log(" logging error", xhr, type)
              }
          });
          //////
        }
        function try_again() {
          // enable all the candidates
          {% for candidate in answers %}
            document.getElementById("{{candidate[0]}}").disabled=false;
            document.getElementById("{{candidate[0]}}").checked=false;
          {% endfor %}
          // hide correctness information
          document.getElementById("correctness").innerHTML="";
          // hide hint
          document.getElementById("show_hint").innerHTML="";
          // enable check answer
          document.getElementById("check_answer_button").disabled=false;
          // disable try again button
          document.getElementById("try_again_button").disabled=true;
        }
        
			
			
			
	
		
		
		
  document.getElementById("chatframe").style.visibility = "visible";
  document.getElementById("chatframe").style.visibility = "hidden";
  
  

  function toggle() {
        var e = document.getElementById('chatframe');
        if(e.style.display == 'block')
            e.style.display = 'none';
        else
            e.style.display = 'block';
     }
	 
 function hideShow() {
  let chatframe = document.getElementById("mainchatbot");
  chatframe.style.visibility = chatframe.style.visibility == "visible" ? "hidden" : "visible";
}


			
 function calcHeight(){
 //find the height of the internal page

   var the_height=  document.getElementById('mainchatbot').contentWindow.document.body.scrollHeight;

    //change the height of the iframe
   document.getElementById('mainchatbot').height= the_height;

    //document.getElementById('the_iframe').scrolling = "no";
    // document.getElementById('chatframe').style.overflow = "hidden";
}
	
		
      </script>
	  
	










	
	  
      <div class="panel panel-primary MultipleChoice Question">
        <div class="panel-heading questionType">Question {{question_id}} &nbsp;&nbsp; <small>{{description}}</small></div>
        <div class="panel-body currentQuestionBox">
          <div class="leftColumn">
            <div class="promptDiv">
              {% for sentence in question %}
                {% if sentence[0] == 'p' %}
                  <p>
                  {% for line in sentence[1] %}
                    {% if line == '<code>' %}
                      <code>
                    {% elif line == '</code>' %}
                      </code>
                    {% elif line == '<sup>' %}
                      <sup>
                    {% elif line == '</sup>' %}
                      </sup>
                    {% elif line == '<sub>' %}
                      <sub>
                    {% elif line == '</sub>' %}
                      </sub>


					{% elif line == '<fonts>' %}
                      <font size=+1>					  



					{% elif line == '<red>' %}
                      <font color=red>					  
					{% elif line == '<blue>' %}
                      <font color=blue>
                    {% elif line == '</font>' %}
                      </font>
					  
                    {% elif line == '<em>' %}
                      <em>
                    {% elif line == '</em>' %}
                      </em>
                    {% elif line == '<b>' %}
                      <b>
                    {% elif line == '</b>' %}
                      </b>
                    {% elif line == '<br>' %}
                      <br>
                    {% elif line == '&larr;' %}
                      &larr;
                    {% elif line == '&rarr;' %}
                      &rarr;
                    {% elif line == '&lt;' %}
                      &lt;
                    {% elif line == '&gt;' %}
                      &gt;
                    {% elif line == '&le;' %}
                      &le;
                    {% elif line == '&ge;' %}
                      &ge;
                    {% elif line == '&nbsp;' %}
                      &nbsp;
                    {% elif line == '&emsp;' %}
                      &emsp;
                    {% else %}
                      {{line}}
                    {% endif %}
                  {% endfor %}
                  </p>
                {% elif sentence[0] == 'img' %}
                  <p>
                  {% for line in sentence[1] %}
                    {% if line[1] != -1 %}
                    <img src="{{ url_for('static', filename='img/')}}{{line[0]}}" alt="" height="{{line[1]}}px;">&nbsp;
                    {% else %}
                    <img src="{{ url_for('static', filename='img/')}}{{line[0]}}" alt="">&nbsp;
                    {% endif %}
                  {% endfor %}
                  </p>
				  
				  
				  
				  														  
						    {% elif sentence[0] == 'com' %}
                              <p>
                              {% for line in sentence[1] %}
                                {% if line[1] != -1 %}
                                <input type="button"  value="그림 나타내기" onclick="msg()">&nbsp;
                                {% else %}
                                <input type="button"  value="그림 나타내기" onclick="msg()"></textarea>&nbsp;
                                {% endif %}
                              {% endfor %}
                              </p>
	
	
	
                {% endif %}
              {% endfor %}

            </div>
            <div class="radiobuttondiv">
            <hr>
              {% for candidate in answers %}
                <table>
                  <tbody>
                    <tr class="table-middle">
                      <td class="table-middle">
                        <!--input type="radio" name="radiobutton" id="{{candidate[0]}}" value="{{candidate[0]}}" class="radio"-->
                        {% if multi_answers == 0 and correct_ans_id | length == 1 %}
                        <input type="radio" name="radiobutton" id="{{candidate[0]}}" value="{{candidate[0]}}" class="radio">
                        {% else %}
                        <input type="checkbox" name="checkbox_elem" id="{{candidate[0]}}" value="{{candidate[0]}}">
                        {% endif %}
                      </td>
                      <td class="table-middle">
                        <div id="choicetext:{{candidate[0]}}">
                          <!--{{candidate[1]}}-->
                          {% for sentence in candidate[1] %}
                            {% if sentence[0] == 'p' %}
                              <p>
                              {% for line in sentence[1] %}
                                {% if line == '<code>' %}
                                  <code>
                                {% elif line == '</code>' %}
                                  </code>
                                {% elif line == '<sup>' %}
                                  <sup>
                                {% elif line == '</sup>' %}
                                  </sup>
                                {% elif line == '<sub>' %}
                                  <sub>
                                {% elif line == '</sub>' %}
                                  </sub>

					{% elif line == '<fonts>' %}
                      <font size=+1>					  


					{% elif line == '<red>' %}
                      <font color=red>					  
					{% elif line == '<blue>' %}
                      <font color=blue>
                    {% elif line == '</font>' %}
                      </font>

                                {% elif line == '<em>' %}
                                  <em>
                                {% elif line == '</em>' %}
                                  </em>
                                {% elif line == '<b>' %}
                                  <b>
                                {% elif line == '</b>' %}
                                  </b>
                                {% elif line == '<br>' %}
                                  <br>
                                {% elif line == '&larr;' %}
                                  &larr;
                                {% elif line == '&rarr;' %}
                                  &rarr;
                                {% elif line == '&lt;' %}
                                  &lt;
                                {% elif line == '&gt;' %}
                                  &gt;
                                {% elif line == '&le;' %}
                                  &le;
                                {% elif line == '&ge;' %}
                                  &ge;
                                {% elif line == '&nbsp;' %}
                                  &nbsp;
                                {% elif line == '&emsp;' %}
                                  &emsp;
                                {% else %}
                                  {{line}}
                                {% endif %}
                              {% endfor %}
                              </p>
							  
							  
                            {% elif sentence[0] == 'img' %}
                              <p>
                              {% for line in sentence[1] %}
                                {% if line[1] != -1 %}
                                <img src="{{ url_for('static', filename='img/')}}{{line[0]}}" alt="" height="{{line[1]}}px;">&nbsp;
                                {% else %}
                                <img src="{{ url_for('static', filename='img/')}}{{line[0]}}" alt="">&nbsp;
                                {% endif %}
                              {% endfor %}
                              </p>
							  
							  
						    {% elif sentence[0] == 'txt' %}
                              <p>
                              {% for line in sentence[1] %}
                                {% if line[1] != -1 %}
                                <textarea  id="txt_{{question_id}}"  cols="60"  rows="6"></textarea>&nbsp;
                                {% else %}
                                <textarea id="txt_{{question_id}}"  rows="6" cols="60"></textarea>&nbsp;
                                {% endif %}
                              {% endfor %}
                              </p>
							  
						
							  
							  
							  
							  
							  
							  
							  
							  
							  
							  
							  
							  
							  
                            {% endif %}
                          {% endfor %}
                          <!--end of the candidates-->
                        </div>
                      </td>
                      <td class="table-middle">
                        <div id="feedback_{{candidate[0]}}" name="feedbacks"></div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <hr>
              {% endfor %}
            </div>
            <div class="feedbackdiv">
            </div>
          </div>
        </div>
		
		
        <div class="interactionBox">
		
		  
		  
		  
          <div class="buttonDiv">
            <table class="buttonTable">
              <tbody>
                <tr>
                  <td>
                    <div class="buttonDiv">
                      <button class="btn btn-primary" onclick="check_answer()" id="check_answer_button">정답 확인</button>
                    </div>
                  </td>
                  <td>
                    <div class="buttonDiv">
                      <button class="btn btn-primary" onclick="try_again()" id="try_again_button" disabled>다시 풀기</button>
                    </div>
                  </td>
                  <td>
                    <div class="buttonDiv">
                      {% if next_id == -1 or next_id == '-1' %}
                        <!--button class="btn btn-primary" disabled>Next Question</button-->
                        <form action="{{url_for('welcome')}}" method=get>
                          <button class="btn btn-primary" type=submit>되돌아가기</button>
                        </form>
                      {% else %}
                        <button class="btn btn-primary" onclick="request_exercise({{next_id}})">다음 문제로 !!</button>
                      {% endif %}
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--div  align="center">
          <div class="progress">
              <div class="progress-bar progress-bar-success" role="progressbar"
                   aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                   style="width: 60%;">
                  <span class="sr-only">60% completed</span>
              </div>
              <div class="progress-bar progress-bar-warning" role="progressbar"
                 aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"
                 style="width: 10%;">
                <span class="sr-only">10% half-way done</span>
              </div>
          </div>
          </div-->

        </div>
		
		
		





      </div>
	  
	  
	  
	  
	  
	  
	  
      <div class="topic_container">
          <!--h5><b>Guess You'll need:</b></h5-->
          <!--hr>
          <a class="disabled" style="color: gray; pointer-events: none;">Guess You'll need:</a><br>
          <a href="#">Question 1: Number System Conversion</a><br>
          <a href="#">Question 2: Boolean Expression</a><br>
          <a href="#">Question 3: Binary Search</a><br-->
  


	
			
	
				  

		 
		 
		 
		 
		 
		 
		 
		 
		 
		 
			  
		 

		 
          <div class="statusMessages">
            <!--div class="numberAttemptsDiv">This is your 0st attempt.</div-->
            <div class="scoreDiv" id="correctness"></div> <!--correct / not yet correct-->
            <div class="resultMessageDiv" id="show_hint"></div>	
		  
          </div>	




 
          <hr>
	



	
<!--
          <a class="disabled" style="color: gray; pointer-events: none;">생각하세요 !! </a><br>
          <a href="#" id="recommend_1"></a><br>
          <a href="#" id="recommend_2"></a><br>
          <a href="#" id="recommend_3"></a><br>
-->		  
		  
		  
      </div>
	  






	













    </div>
	
	
						  
		

		

	
	
	
	
	
    <div class="page-feedback">
      <button class="btn btn-primary btn-xs feedback-button" type="button" data-toggle="collapse" data-target="#fdbk">
        Feedback
      </button>
      <div id="fdbk" class="collapse feedback-panel panel panel-primary"></div>
    </div>





  </body>

</html>